<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__.'/src/Sins/Bundle')
    ->in(__DIR__.'/tests/Sins/Bundle/Tests')
    ->name('*.php')
;

return PhpCsFixer\Config::create()
    ->setRules(array(
        '@Symfony' => true,
        'ordered_imports' => true,
        'indentation_type' => true
    ))
    ->setIndent("    ")
    ->setLineEnding("\n")
    ->setFinder($finder)
;